<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.mapper.MemberMapper">


	<resultMap type="com.market.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="username" column="username"/>
		<result property="email" column="email"/>
		<result property="phone1" column="phone1"/>
		<result property="phone2" column="phone2"/>
		<result property="phone3" column="phone3"/>
		<result property="zipcode" column="zipcode"/>
		<result property="point" column="point"/>
		<result property="regdate" column="regdate"/>
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	
	<resultMap type="com.market.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>

	<select id="read" resultMap="memberMap">
	SELECT	userid,
			userpw,
			username,
			email,
			phone1,
			phone2,
			phone3,
			zipcode,
			point,
			regdate,
			auth
	FROM	member
	WHERE	userid = #{userid} 
	</select>
	
	<insert id="insert">
		INSERT INTO member (userid, userpw, username, email, phone1, phone2, phone3, zipcode)
		VALUES
		( #{userid}, #{userpw}, #{username}, #{email}, #{phone1}, #{phone2}, #{phone3}, #{zipcode})
	</insert>
	
	<select id="checkOverId" parameterType="String" resultType="int">
		select count(*) from member where userid = #{userid}
	</select>
	
	<select id="checkOverName" parameterType="String" resultType="int">
		select count(*) from member where username = #{username}
	</select>
	
	<select id="checkOverEmail" parameterType="String" resultType="int">
		select count(*) from member where email = #{email}
	</select>
	
	<!-- 아이디 비번 찾기 -->
	<select id="searchId" parameterType="Map" resultType="String">
		select userid from member where username = #{param1} and email = #{param2}
	</select>
	
	<select id="find_checkId" parameterType="String" resultType="int">
		select count(*) from member where username = #{param1} and email = #{param2}
	</select>
	
	<select id="id_userInfo" resultType="com.market.domain.MemberVO">
		select username from member where username = #{username}
	</select>
	
	<update id="searchPassword" parameterType="Map">
		update member set userpw = #{param3} where userid = #{param1} and email = #{param2} 
	</update>
	
	<select id="find_checkPass" parameterType="String" resultType="int">
		select count(*) from member where userid = #{param1} and email = #{param2}
	</select>
	
	<select id="pw_userInfo" resultType="com.market.domain.MemberVO">
		select userid from member where userid = #{userid}
	</select>
	<!-- 아이디 비번 찾기 -->
	
	<update id="update_point" parameterType="com.market.domain.MemberVO">
		update member set point = point + #{point} where userid = #{userid} 
	</update>
	
	<update id="update_minus_point" parameterType="com.market.domain.MemberVO">
		update member set point = point - #{point} where userid = #{userid} 
	</update>
	
</mapper>