<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.mapper.ProductMapper">

	
	<resultMap type="com.market.domain.ProductVO" id="ProductMap">
		<id property="pdid" column="pdid"/>
		<result property="pdid" column="pdid"/>
		<result property="pdname" column="pdname"/>
		<result property="pdprice" column="pdprice"/>
		<result property="pdcontent" column="pdcontent"/>
		<result property="pdreviewcnt" column="pdreviewcnt"/>
		<result property="pdhit" column="pdhit"/>
		<result property="regdate" column="regdate"/>
		<result property="updateDate" column="updateDate"/>
		<result property="cacode" column="cacode"/>
		<result property="main_img" column="main_img"/>
		<collection property="pd_attachList" resultMap="authMap">		
		</collection>
	</resultMap>
	
	<resultMap type="com.market.domain.ProductAttachVO" id="authMap">
		<result property="pd_uuid" column="pd_uuid"/>
		<result property="pd_uploadPath" column="pd_uploadPath"/>
		<result property="pd_fileName" column="pd_fileName"/>
		<result property="pd_filetype" column="pd_filetype"/>
		<result property="pdid" column="pdid"/>
	</resultMap>


	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							pdname like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							pdcontent like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							pdprice like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<insert id="register_product">
		<selectKey keyProperty="pdid" order="BEFORE" resultType="int">
			select seq_product.nextval from dual
		</selectKey>

		insert into product (pdid, pdname, pdprice, pdcontent, cacode, main_img)
		values (#{pdid}, #{pdname}, #{pdprice}, #{pdcontent}, #{cacode}, #{main_img})
	</insert>
	
	
	<select id="read" resultType="com.market.domain.ProductVO">
		select * from product where pdid = #{pdid}
	</select>
	
	<delete id="delete_product">
		delete product where pdid = #{pdid}
	</delete>
 
	<update id="update_product">
		update product
		set 
		pdname = #{pdname},
		pdcontent = #{pdcontent},
		pdprice = #{pdprice},
		cacode = #{cacode},
		main_img = #{main_img},
		updateDate = sysdate
		where pdid = #{pdid}
	</update>
	
	<select id="getListWithPaging" resultType="com.market.domain.ProductVO">
		<![CDATA[
		SELECT	pdid,
				pdname,
				pdprice,
				pdreviewcnt,
				pdhit,
				regdate,
				updateDate,
				cacode,
				main_img
		FROM	(SELECT /*+INDEX_DESC(product pk_product) */
        				rownum rn,
        				pdid,
						pdname,
						pdprice,
						pdreviewcnt,
						pdhit,
						regdate,
						updateDate,
						cacode,
						main_img
      			FROM	product 
				WHERE 
  		]]>
		<include refid="criteria"></include> 
      
		<![CDATA[    
      			rownum <= #{pageNum} * #{amount}
      			and cacode = #{cacode}
      			)
  		WHERE rn > (#{pageNum} -1) * #{amount}  
		]]>
	</select> 
	
	
	 <!-- <select id="getListWithPaging" resultMap="ProductMap">
		<![CDATA[
		SELECT	pdid,
				pdname,
				pdprice,
				pdreviewcnt,
				pdhit,
				regdate,
				updateDate,
				cacode,
				pd_uploadPath,
                pd_fileName,
                pd_filetype,
                pd_uuid
		FROM	(SELECT /*+INDEX_DESC(product pk_product) */
        				rownum rn,
        				pd.pdid,
                        pd.pdname,
                        pd.pdprice,
                        pd.pdreviewcnt,
                        pd.pdhit,
                        pd.regdate,
                        pd.updateDate,
                        pd.cacode,
                        fa.pd_uploadPath,
                        fa.pd_fileName,
                        fa.pd_filetype,
                        fa.pd_uuid
      			FROM	product pd LEFT OUTER JOIN product_attach fa ON pd.pdid = fa.pdid
				WHERE 
  		]]>
		<include refid="criteria"></include> 
      
		<![CDATA[    
      			rownum <= #{pageNum} * #{amount}
      			and cacode = #{cacode}
      			)
  		WHERE rn > (#{pageNum} -1) * #{amount}  
  		order by pdid desc 
		]]>
	</select>  -->
	
	<select id="getTotalCount" resultType="int">
		select count(*) from product where 
		
		<include refid="criteria"></include>
		
		<![CDATA[
		pdid > 0
		]]>
	</select>
	
	<select id="ScrollPaingStart" resultType="com.market.domain.ProductVO">
		<![CDATA[    
	 	SELECT  
                    pdid,
					pdname,
					pdprice,
					pdreviewcnt,
					pdhit,
					regdate,
					updateDate,
					cacode,
					main_img
			FROM 
				 (
			   SELECT
			   			rownum rn,
        			    pdid,
						pdname,
						pdprice,
						pdreviewcnt,
						pdhit,
						regdate,
						updateDate,
						cacode,
						main_img
      			FROM	product
                order by pdid desc
			 )
             where cacode = #{cacode}			
		]]>
	</select>
	
	<!-- <select id="ScrollPaingStart" resultMap="ProductMap">
		<![CDATA[    
	 	SELECT  
                    pdid,
					pdname,
					pdprice,
					pdreviewcnt,
					pdhit,
					regdate,
					updateDate,
					cacode,
					pd_uploadPath,
	                pd_fileName,
	                pd_filetype,
	                pd_uuid
			FROM 
				 (
			   SELECT
			   			rownum rn,
        				pd.pdid,
                        pd.pdname,
                        pd.pdprice,
                        pd.pdreviewcnt,
                        pd.pdhit,
                        pd.regdate,
                        pd.updateDate,
                        pd.cacode,
                        fa.pd_uploadPath,
                        fa.pd_fileName,
                        fa.pd_filetype,
                        fa.pd_uuid
      			FROM	product pd LEFT OUTER JOIN product_attach fa ON pd.pdid = fa.pdid
                order by pd.pdid desc
			 )
             where cacode = #{cacode}			
		]]>
	</select> -->
	
	
<!-- 	<select id="ScrollPagingDown" resultMap="ProductMap" parameterType="com.market.domain.ProductVO">
		<![CDATA[    
		select  	pd.pdid,
                    pd.pdname,
                    pd.pdprice,
                    pd.pdreviewcnt,
                    pd.pdhit,
                    pd.regdate,
                    pd.updateDate,
                    pd.cacode,
                    fa.pd_uploadPath,
                    fa.pd_fileName,
                    fa.pd_filetype,
                    fa.pd_uuid
		from product pd LEFT OUTER JOIN product_attach fa ON pd.pdid = fa.pdid
		where pd.pdid <= #{pdid} -1
		and pd.pdid > #{pdid} -1 - 8
		and pd.cacode = #{cacode}
	    order by pd.pdid desc
		]]>
	
	</select> -->
	
		<select id="ScrollPagingDown" resultType="com.market.domain.ProductVO" parameterType="com.market.domain.ProductVO">
		<![CDATA[    
		select  	pdid,
                    pdname,
                    pdprice,
                    pdreviewcnt,
                    pdhit,
                    regdate,
                    updateDate,
                    cacode,
                    main_img
		from product
		where pdid <= #{pdid} -1
		and pdid > #{pdid} -1 - 8
		and cacode = #{cacode}
	    order by pdid desc
		]]>
	
	</select>
	
<!-- 	<select id="ScrollPagingUp" resultMap="ProductMap">
		<![CDATA[    
		select  	pd.pdid,
                    pd.pdname,
                    pd.pdprice,
                    pd.pdreviewcnt,
                    pd.pdhit,
                    pd.regdate,
                    pd.updateDate,
                    pd.cacode,
                    fa.pd_uploadPath,
                    fa.pd_fileName,
                    fa.pd_filetype,
                    fa.pd_uuid
		from product pd LEFT OUTER JOIN product_attach fa ON pd.pdid = fa.pdid
		where pd.pdid >= #{pdid}
		and pd.pdid < #{pdid} + 8
		and pd.cacode = #{cacode}
	    order by pd.pdid desc
		]]>
	
	</select> -->
	
		<select id="ScrollPagingUp" resultType="com.market.domain.ProductVO">
		<![CDATA[    
		select  	pdid,
                    pdname,
                    pdprice,
                    pdreviewcnt,
                    pdhit,
                    regdate,
                    updateDate,
                    cacode,
                    main_img
		from product
		where pdid >= #{pdid}
		and pdid < #{pdid} + 8
		and cacode = #{cacode}
	    order by pd.pdid desc
		]]>
	
	</select>
	

</mapper>