<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.mapper.SendCouponMapper">
	
	
	<resultMap type="com.market.domain.SendCouponVO" id="SendCoupon">
		<id property="s_cp_idx" column="s_cp_idx"/>
		<result property="s_cp_idx" column="s_cp_idx"/>
		<result property="s_cp_uuid" column="s_cp_uuid"/>
		<result property="userid" column="userid"/>
		<result property="situ" column="situ"/>
		<collection property="c_coupon" resultMap="CreateCoupon">		
		</collection>
	</resultMap>
	
	<resultMap type="com.market.domain.CreateCouponVO" id="CreateCoupon">
		<result property="c_cp_idx" column="c_cp_idx"/>
		<result property="c_cp_name" column="c_cp_name"/>
		<result property="c_cp_price" column="c_cp_price"/>
	</resultMap>
	
	<insert id="send_coupon_insert">
		<selectKey keyProperty="s_cp_idx" order="BEFORE" resultType="int">
			select seq_s_cp_idx.nextval from dual
		</selectKey>

		insert into send_coupon (s_cp_idx, userid, s_cp_uuid, c_cp_idx)
		values (#{s_cp_idx}, #{userid}, #{s_cp_uuid}, #{c_cp_idx})
	</insert>
	
	
	<select id="show_coupon_order" resultMap="SendCoupon">
		select sc.s_cp_idx,
		       cc.c_cp_name,
		       cc.c_cp_price,
		       sc.situ
		from   send_coupon sc,
		       create_coupon cc
		where  sc.c_cp_idx = cc.c_cp_idx
		and    sc.userid = #{userid}
		and    sc.situ = '미사용'
	
	</select>
	
	
	<update id="use_send_coupon" parameterType="Map">
		update send_coupon
		set 
		situ = #{param1}
		where s_cp_idx = #{param2}
	</update>
	


</mapper>